$primary-bg: #1d2327;
$hover-bg: #2271b1;
$primary-color: white;

.wrap {
    display: none !important;
}

.post-category-list {
    margin-top: 2rem;

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-right: 1rem;
    }

    li {
        a {
            background-color: $primary-bg;
            color: $primary-color;
            padding: 2rem;
            min-height: 150px;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }

        &:hover a {
            background-color: $hover-bg;
        }
    }
}
