.post-category-list {
  display: none;
}

#toggleGrid {
  margin-left: 6px;
  padding-right: 16px !important;
  background-color: #565f65 !important;
  border-color: #1d2327 !important;
  color: white !important;
}
#toggleGrid:after {
  display: none !important;
}

.grid-enabled .wrap {
  display: none !important;
}
.grid-enabled .post-category-list {
  margin-top: 2rem;
  display: block;
}
.grid-enabled .post-category-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-right: 1rem;
}
.grid-enabled .post-category-list li a {
  background-color: #1d2327;
  color: white;
  padding: 2rem;
  min-height: 150px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0;
}
.grid-enabled .post-category-list li h2 {
  margin: 0;
}
.grid-enabled .post-category-list li:hover a {
  background-color: #2271b1;
}